In [1]:
#LISTS OF LISTS
#A list that is housed inside another list,aka nested list
d=[['cow','dog','goat'],['apple','grapes','kiwi'],['spinach','kale','brocolli']]

In [2]:
d

[['cow', 'dog', 'goat'],
 ['apple', 'grapes', 'kiwi'],
 ['spinach', 'kale', 'brocolli']]

In [3]:
#there are 3 lists nested inside the d list.Each list will be assigned an index number starting from 0,like in the normal list.
d[0]

['cow', 'dog', 'goat']

In [4]:
d[1]

['apple', 'grapes', 'kiwi']

In [5]:
d[2]

['spinach', 'kale', 'brocolli']

In [6]:
#To access an item inside one of the nested lists, 
#We use the index number of the list and the index number of the item inside the list e.g
d[2][1]

'kale'

In [7]:
d[1][0]

'apple'

In [8]:
d[0][2]

'goat'

In [9]:
#You can also assign the individual nested lists to a separate variable and combine them to get the same compound list i.e
a=['cow','dog','goat']
b=['apple','grapes','kiwi']
c=['spinach','kale','brocolli']

In [10]:
d=[a,b,c]

In [11]:
d

[['cow', 'dog', 'goat'],
 ['apple', 'grapes', 'kiwi'],
 ['spinach', 'kale', 'brocolli']]

In [23]:

                                             #TUPLES
    
#Tuples are immutable and their contents cannot be changed after they are created.They make use of parenthesis()
#They are used for small collections of values that would not need to change or be tampered with
animals=('cow','goat','sheep','fox','chicken','goat','fish')

In [24]:
animals

('cow', 'goat', 'sheep', 'fox', 'chicken', 'goat', 'fish')

In [25]:
#tuples,just like lists,allow for repetition of items. They are also not callable e.g
animals(2)

TypeError: 'tuple' object is not callable

In [26]:
#Tuples have 2 major methods:COUNT AND INDEX
#Count returns the frequency or occurence of an item in a tuple 
animals.count('goat')

2

In [27]:
animals.count('fish')

1

In [28]:
#Index returns the position of an item in a tuple
#Where an item appears more than once in different positions, python will take the position closest to index 0(zero)
animals.index('goat')

1

In [29]:
animals.index('chicken')

4

In [30]:
#The argument for index is

In [34]:
animals.index('goat',1)

1

In [35]:
animals.index('goat',2)

5

In [41]:
                                             
                                              #SETS
        
#A collection of unordered items whose values can be changed and does not allow for duplication/repetition of items.
#Sets are denoted by curly braces {} and usually arranges the items in ascending order for strings or numerically for integers
a={'rice','yam','beans','spaghetti','garri','yam','bread','salad'}

In [42]:
a

{'beans', 'bread', 'garri', 'rice', 'salad', 'spaghetti', 'yam'}

In [43]:
type(a)

set

In [45]:
                                             #DICTIONARIES
#Dictionaries are data structures that allow us store information in key-value pairs
#Dictionaries hardly work with 'for loop'
#To create a dictionary named dataset
dataset={'Name':'Ngozi','Age':28,'Username':'Ngozika','Password':'ngoziomems2024','Program':'Data Science'}

In [46]:
dataset

{'Name': 'Ngozi',
 'Age': 28,
 'Username': 'Ngozika',
 'Password': 'ngoziomems2024',
 'Program': 'Data Science'}

In [80]:
#To outline the values assigned to each key, we use the keys to call them.The syntax is dictionaryname[key]
dataset['Name']

'Ngozi'

In [81]:
dataset['Age']

28

In [82]:
dataset['Username']

'Ngozika'

In [83]:
dataset['Program']

'Data Science'

In [52]:
#METHODS IN DICTIONARIES
#1.KEY METHOD:Gets all the keys in a dictionary, the syntax is dictionaryname.keys() and it takes no argument

dataset.keys()

dict_keys(['Name', 'Age', 'Username', 'Password', 'Program'])

In [54]:
#VALUE METHOD: Returns all the values attributed to each index, syntax is dictionaryname.values(), also takes no argument
dataset.values()

dict_values(['Ngozi', 28, 'Ngozika', 'ngoziomems2024', 'Data Science'])

In [56]:
#ITEMS METHOD: Returns all the key-value pairs in the dictionary
dataset.items()

dict_items([('Name', 'Ngozi'), ('Age', 28), ('Username', 'Ngozika'), ('Password', 'ngoziomems2024'), ('Program', 'Data Science')])

In [63]:
#GET METHOD:Uses a particular key to return its corresponding value,the syntax is dictionaryname.get(key)
dataset.get('Password')

'ngoziomems2024'

In [64]:
dataset.get('Program')

'Data Science'

In [65]:
dataset.get('Name')

'Ngozi'

In [75]:
#POP METHOD:removes a specified key-value pair. The syntax is dictionaryname.pop(key to be deleted)
#To delete the Password:ngoziomems2024 pair
dataset.pop('Password')

'ngoziomems2024'

In [76]:
dataset

{'Name': 'Ngozi', 'Age': 28, 'Username': 'Ngozika', 'Program': 'Data Science'}

In [77]:
dataset.copy

In [3]:
#To create a program that prompts a user for login credentials: username and password. 
#The login will only be successful if the login credentials are correct
#Using a dictionary structure
credentials={'Username':['Ngozi','Uchenna','Zane'],'Password':['Ngbaby1234','UC2024!','ziZZU@2021']}

In [4]:
credentials

{'Username': ['Ngozi', 'Uchenna', 'Zane'],
 'Password': ['Ngbaby1234', 'UC2024!', 'ziZZU@2021']}

In [7]:
username=input(f'Hello, please enter your username: ')
password=input(f'Enter your password: ')
if username in credentials['Username'] and password in credentials['Password']:
    print(f'Welcome {username}, your login was successful!')
else:
    print(f'Dear {username}, your credentials are incorrect, please try again!')

Hello, please enter your username: Ngozi
Enter your password: Ngbaby1234
Welcome Ngozi, your login was successful!